URLShortnerForm/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UrlShortner" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUrlShortner_GetShortUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortUrl" />
  </wsdl:message>
  <wsdl:message name="IUrlShortner_GetShortUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IUrlShortner_GetOriginalUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOriginalUrl" />
  </wsdl:message>
  <wsdl:message name="IUrlShortner_GetOriginalUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOriginalUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="IUrlShortner">
    <wsdl:operation name="GetShortUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrlShortner/GetShortUrl" message="tns:IUrlShortner_GetShortUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrlShortner/GetShortUrlResponse" message="tns:IUrlShortner_GetShortUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOriginalUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IUrlShortner/GetOriginalUrl" message="tns:IUrlShortner_GetOriginalUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUrlShortner/GetOriginalUrlResponse" message="tns:IUrlShortner_GetOriginalUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUrlShortner" type="tns:IUrlShortner">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShortUrl">
      <soap:operation soapAction="http://tempuri.org/IUrlShortner/GetShortUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOriginalUrl">
      <soap:operation soapAction="http://tempuri.org/IUrlShortner/GetOriginalUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UrlShortner">
    <wsdl:port name="BasicHttpBinding_IUrlShortner" binding="tns:BasicHttpBinding_IUrlShortner">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/URLShortner/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>